.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define un mínimo de 300px por tarjeta y distribuye el espacio disponible igualmente */
  gap: 20px; /* Agrega espacio entre las tarjetas */
  justify-content: flex-start;
  
}
.img1{
  border-radius: 18px;
  z-index: 1;
}

.product-card {
  
  margin-top: 75px;
  border-radius: 19px;
  align-content: center;
  align-items: center;
  flex: 3 3 calc(23.33% - 20px);
  margin-right: 30px;
  margin-left: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
  background-color: #D36426;
  height: auto; /* Establece la altura para que se adapte automáticamente al contenido */
}


.product-card:hover {
    transform: scale(1.05);
    background-color: #c25211;/* Cambia el fondo a gris en hover */
}

.product-image {
    margin-top: 1px;
    align-content: center;
}

.card-btn {
    font-size: 20px;
   margin-left: 20px;
    border-radius: 10px;
  
    padding: 10px 20px;
    background-color: #751313;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

.card-btn:hover {
    background-color: #711a61;
    color: rgb(0, 0, 0);
    
}



.card-btn1 {
    
  font-size: 20px;
  margin-left: 20px;
   border-radius: 10px;
 
   padding: 10px 20px;
   background-color: #1B742E;
   border: none;
   color: rgb(255, 255, 255);
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   margin-bottom: 20px;
}

.card-btn1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    
}

.card-btn2 {
  font-size: 20px;
 margin-left: 20px;
  border-radius: 10px;

  padding: 10px 20px;
  background-color: #D36426;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
}

.card-btn2:hover {
  background-color: #711a61;
  color: rgb(0, 0, 0);
  
}

.boton4{
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    color: #ffffff; /* Color del texto */
}

.card-btn11 {
    font-size: 15px;
   margin-right: 2px;
   border-radius: 2px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px 20px;
   background-color: transparent;
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}
.titulo_blanco{
  color: #ffffff;
}

.card-btn11:hover {
   background-color: rgb(113, 26, 97);
   color: rgb(0, 0, 0);
   border: 1px solid rgb(113, 26, 97);
}


/* En tu archivo CSS */

/* Estilos para el botón de menú (hamburguesa) */
/* En tu archivo CSS */
/* Estilos para el botón de menú (hamburguesa) */